#section_4{
    margin-top:25px;
    
}
.section4-top{
    width: 1200px;
    height:30px;
    line-height:30px;
    margin-bottom:10px;
    p{  
        width:230px;
        height:30px;
        float:left;
        text-indent:-9999px;
        background:$bgurl;
        background-position:0px -373px;
    }
}
.section4-bottom{
    width:1200px;
    background:$sizecolor1;
     ul{
         li{
             display:block;
             width:299px;
             height:290px;
             border-right:1px solid #f1f1f1;
             background:$sizecolor1;
             text-align:center;
             position:relative;
         }
            .clear{
                @include clearbox;
            }
     }
}
.section4-bottom .lazy{
    width:180px;
    height:180px;
    display:block;
    margin-top:28px;
}
.section4-bottom .lit{
    border-right:none;
}
#sp{
    display:block;
    width:55px;
    height:55px;
    background:$bgurl;
    background-position:-385px -340px;
    position:absolute;
    top:0;
    left:0;
}
