@charset "utf-8";
@import "_clearbox.scss";
li{
    float:left;
}
a{
    text-decoration: none;
}
#top{
    height:30px;
    background:#f5f5f5;
    border-bottom:1px solid #fff;
}
 .topcontent{
    font-size:12px;
    width:1200px;
    margin:0 auto;
    line-height:30px;
    color:#777;
    li{
         a{
          color:#777;
     }
    }
}
.topright{
    float:right;
    li{
        margin-right:10px;
    }
}
#header{
    height:100px;
    border-bottom:2px solid #e5e5e5;
}
.header-wrap{
    width:1200px;
    margin:0 auto;
}
.logo{
    display:inline-block;
    float:left;
    width:230px;
    height:70px;
    margin-top:10px;
    background:url(../img/head.png)no-repeat;
}
.logo1{
    float:right;
    display:inline-block;
    width:460px;
    height:70px;
    margin-top:15px;
    background:url(http://www.lingshi.com/templates/default/images/cart.png)no-repeat;
}
.content-wrap{
    width:1200px;
    margin:0 auto;
}
.content-title{
    height:25px;
    line-height:25px;
    margin:30px 0 15px 0;
    color:#333;
    font-size:24px;
    span{
        font-size:14px;
        color:#999;
        i{
            font-style:normal;
            color:red;
             font-size:14px;
        }
    }
    
}
.main{
    width:1198px;
    border:1px solid #e5e5e5;
}
.content-top{
    height:40px;
    line-height:40px;
    font-size:13px;
    border-bottom:1px solid #e5e5e5;
    background:#f5f5f5;
}
.checkall{
    width:110px;
    height:40px;
    line-height:40px;
    float:left;
    margin-left:35px;
    span{
        margin-left:5px;
    }
}
.xinxi{
    width:450px;
    height:40px;
    float:left;
    text-align:center;
}
.danjia{
    width:115px;
    height:40px;
    float:left;
    text-align:center;
}
.shuliang{
    width:125px;
    height:40px;
    float:left;
    text-align:center;
}
.xiaoji{
    width:120px;
    height:40px;
    float:left;
    text-align:center;
}
.jifen{
    width:120px;
    height:40px;
    float:left;
    text-align:center;
}
.caozuo{
    width:115px;
    height:40px;
    float:left;
    text-align:center;
}
.goods{
    width:1150px;
    height:115px;
    display:none;
    margin:15px auto;
    border:1px solid #e5e5e5;
    font-size: 13px;
    color:#666;
}
.goods_1{
    float:left;
    width:20px;
    height:115px;
    line-height:115px;
    margin-left:10px;
}
.goods_2{
    float:left;
    width:90px;
    height:115px;
    line-height:115px;
    margin:0px 10px;
    img{
        width:80px;
        height:80px;
        margin-top:15px;
    }
}
.goods_3{
    float:left;
    width:450px;
    height:115px;
    line-height:115px;
    a{
        color:#666;
    }
}
.goods_4{
    float:left;
    width:100px;
    height:115px;
    line-height:115px;
    span{
        margin-left:10px;
    }
}
.goods_5{
    float:left;
    width:100px;
    height:115px;
    margin-left:20px;
    ul{
        width:70px;
        height:20px;
        margin:47px 0 40px 0;
        border:1px solid #e5e5e5;
    }
}

li{
    float:left;
    text-align: center;
    
}
.reduce{
    
    width:20px;
    height:20px;
    font-size: 16px;
    background: #f0f0f0;
 
}
   a{
      color:#333;  
    }
.input{
    width:30px;
    height:20px;
    input{
        text-align:center;
        border:none;
        width:30px;
        line-height:18px;
    }
}
.add{
    color:#333;
    width:20px;
    height:20px;
    font-size: 16px;
    background: #f0f0f0;
}
.goods_6{
    float:left;
    width:120px;
    height:115px;
    line-height:115px;
    text-align:center;
}
.goods_7{
    float:left;
    width:120px;
    height:115px;
    line-height:115px;
    text-align:center;
}
.goods_8{
    float:left;
    width:100px;
    height:115px;
    text-align:center;
}
.join{
    display:block;
    margin:38px 0 10px 0;
}
.content-bottom{
    background:#f5f5f5;
    font-size:13px;
    color:#999;
    width:1198px;
    height:100px;
    border-top:1px solid #e5e5e5;
}
.empty,.sum,.sum-num{
    width:250px;
    height:100px;
    line-height:100px;
    text-align:center;
    color:#333;
}
.empty{
    float:left;
    text-align:left;
    span{
        cursor:pointer;
    } 
    input{
        margin-left:35px;
    }
}
.sum{
    position:relative;
  float:right;
  text-align:left;
}
.sum-price{
    position:absolute;
    top:0px;
    right:10px;
    font-size:24px;
    display: block;
    width:110px;
    color:red;
}
.sum-num{
    float:right;
    width:150px;
}
.clear{
    @include clearbox;
}