#box{
    width:350px;
    height:440px;
    background:#CCCCCC;
    position:absolute;
    top:15%;
    left:30%;
}
.box-top{
    height:40px;
    border-bottom:2px solid #ff0000;
    color:#999;
    position:relative;
    p{
        margin:5px;
        height:30px;
        line-height:30px;
        font-size:24px;
        font-family: "宋体";
    }
}
.box-content{
    border-bottom:1px dashed #E9E9E9;
    margin-bottom:10px;
}
input{
        width:300px;
        height:30px;
        border:1px solid #bfbfbf;
        line-height:30px;
        font-size:14px;
        text-indent:10px; 
        margin-left:20px;
        color:#A6A6A6;
}
span{
   color:red;
}
.yzm{
    position:relative;
     font-size:14px;
    input{
        width:150px;
        height:30px;
        border:1px solid #bfbfbf;
        line-height:30px;
        font-size:14px;
        text-indent:10px; 
        margin-left:20px;
      }
    img{
        position: absolute;
        display:block;
        height:30px;
        top:1px;
        left:190px;
    }
    span{
        position:absolute;
        top:5px;
        right:30px;
        height:30px;
        color:#449fe6;
        cursor: pointer;
    }
}
.cb{
    line-height:30px;
    margin:25px auto 15px;
    input{
        width:15px;
        height:15px;
    }
    label{
        line-height:30px;
        font-size:14px;
        color:#A6A6A6;;
    }
    a{
        color:#449fe6;
        text-decoration:none;
        font-size:14px;
    }
}
.zhuce{
        margin-left:5px;
    input{
        text-align:center;
        border:none;
        cursor: pointer;
        width:300px;
        height:49px;
        color:#fff;
        line-height:49px;
        font-size:24px;
        background:url(http://www.lingshi.com/templates/default/images/login.jpg)0 -46px no-repeat;
    }
}